<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=640">
    
    <style>@import "{{ site.theme }}";</style>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script>
      $(document).ready(function () {
        $('#main_content').headsmart()
      })
    </script>
    
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();
       for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
       k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(92486270, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/92486270" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    
    <title>Licensing library from SNBS</title>
  </head>

  <body>
    <a id="forkme_banner" href="{{ site.github.repository_url }}">View on GitHub</a>
    <div class="shell">
      <header>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            <h1>{{ site.title | default: site.github.repository_name }}</h1>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </header>

      {% if site.show_downloads %}
        <section id="downloads">
          <span class="inner">
            <a href="{{ site.github.zip_url }}" class="zip"><em>download</em> .ZIP</a><a href="{{ site.github.tar_url }}" class="tgz"><em>download</em> .TGZ</a>
          </span>
        </section>
      {% else %}
        <div id="no-downloads">
          <span class="inner">
          </span>
        </div>
      {% endif %}


      <span class="banner-fix"></span>


      <section id="main_content">
        {{ content }}
      </section>

      <footer>
        <span class="ribbon-outer">
          <span class="ribbon-inner">
            {% if site.github.is_project_page %}
              <p>this project by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
            {% if site.github.is_user_page %}
              <p>Projects by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> can be found on <a href="{{ site.github.repository_url }}">GitHub</a></p>
            {% endif %}
          </span>
          <span class="left-tail"></span>
          <span class="right-tail"></span>
        </span>
      </footer>
    </div>
  </body>
</html>
